<!-- explicacao -->

<!-- usar dessa forma ele nao renderiza e nem é carregado na DOM -->
<!-- @if (showNavbar) {
<app-navbar></app-navbar>
} -->

<!-- usar dessa forma ele nao renderiza, mas é carregado na DOM -->
<!-- <app-navbar [hidden]="showNavbar"></app-navbar> -->

<!-- É uma forma antiga de usar o @if -->
<!-- Nao renderiza, nem é carregado -->
<!-- <app-navbar *ngIf="showNavbar"></app-navbar> -->


<app-navbar></app-navbar>
<app-base-ui>
  <!-- <app-certificados></app-certificados> -->
  <!-- <app-certificado-form></app-certificado-form> -->
   <app-certificado></app-certificado>
</app-base-ui>
